@import './utils/variables';
@import './utils/decimal';
@import './components/base';
@import './components/list_social-list';
@import './components/link';
@import './components/logo';
@import './components/buttons';
@import './components/header';
@import './components/footer';
@import './components/hero';
@import './components/peculiarities';
@import './components/our-mission';
@import './components/our-team';
@import './components/clients';
@import './components/modal';
@import './components/portfolio';
