@import "../utils/variables";

.header__section {
  position: relative;

  height: 80px;
  padding: 0px 0px;

  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
}
nav {
  display: flex;
  align-items: center;
}

.nav__link {
  display: flex;
  align-items: center;

  color: inherit;
}

.link__icon-email,
.link__icon-phone {
  margin-right: 10px;
  fill: currentColor;
  stroke: currentColor;
}

.contacts__list {
  margin-left: auto;
}

.menu-toggle {
  position: absolute;
  top: 15px;
  right: 10px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: $tablet){
  .menu-toggle {
    display: none;  
  }
}
.menu-toggle__svg{

}