.link {
  display: block;

  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  @media screen and (min-width: $tablet) {
    font-size: inherit;
    line-height: 1.14;
  }

  color: $header-color;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus,
  &--current {
    color: $accent-color;
  }

  &--current {
    position: relative;
  }

  &--current::after {
    content: '';

    position: absolute;
    top: 275%;
    left: 0;

    width: 100%;
    height: 4px;

    border-radius: 2px;
    background: currentColor;
  }
}
