@media screen and (min-width: $tablet) {
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.social-list {
  display: inline-flex;
  justify-content: space-between;

  width: 206px;
  height: 44px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: $social-link-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
  &:not(:last-child()) {
    margin-right: 10px;
  }
}

.social-list__svg {
  fill: currentColor;
}
