$logo: "logo";

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: inherit;

  &--blue {
    color: $accent-color;
  }
  &--black {
    color: $header-color;
  }
  &--white {
    color: $white-color;
  }
}

.header__#{$logo} {
  margin-top: 24px;
  margin-bottom: 25px;
}
.footer__#{$logo} {
  margin: 0px 0px 20px;
}
