$logo: 'logo';

.logo {
  margin-right: auto;

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: inherit;

  &--blue {
    color: $accent-color;
  }
  &--black {
    color: $header-color;
  }
  &--white {
    color: $white-color;
  }
  @media screen and (min-width: $tablet) and (min-width: $desktop - 1px) {
    margin-right: 87px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.header__#{$logo} {
}
.footer__#{$logo} {
  margin: 0px 0px 20px;
  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}
