.our-mission__section {
  padding-top: 0;
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.our-mission__thumb {
  position: relative;
}

.our-mission__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 370px;
  padding: 27px 0px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: $white-color;
  background: rgba(47, 48, 58, 0.8);
}
