  $main-color: #757575;
  $accent-color: #2196f3;
  $header-color: #212121;
  $white-color: #ffffff;
  $background-btn: #f5f4fa;
  $background-section: #2f303a;
  $footer-text: rgba(255, 255, 255, 0.6);
  $social-link-color: #afb1b8;
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);